.footerContainer {
    height: 5vh;
    background-color: #006DC7;
    display: flex;
    justify-content: space-between;
}
.imgAndCopyright {
display: flex;
align-items: center;
}
.imgAndCopyright p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    color: #FBFBFB;
}

.imgAndCopyright img{
    width: 28px;
    height: 24px;
}

.links {
display: flex;
width: 50vw;
justify-content: space-evenly;
}
.links p {
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 8px;
line-height: 24px;
text-decoration-line: underline;
color: #FBFBFB;
}