.footerContainer {
  height: 5vh;
  background-color: #006dc7;
  display: flex;
  justify-content: space-between;
}
.imgAndCopyright {
  display: flex;
  align-items: center;
}
.imgAndCopyright p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  color: #fbfbfb;
}

.imgAndCopyright img {
  width: 28px;
  height: 24px;
}

.footerLinks {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  align-items: center;
}
.footerLinks p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #fbfbfb;
}

@media only screen and (min-width: 700px) {
  .imgAndCopyright {
    margin-left: 150px;
  }
  .imgAndCopyright p {
    font-size: 16px;
  }

  .imgAndCopyright img {
    width: 36px;
    height: 44px;
  }
  .footerLinks {
      align-items: center;
  }

  .footerLinks p {
    font-size: 16px;
  }
}
