.aboutUsContainer {
  background: #f0f7fa;
  padding: 20px 35px 30px 35px;
}

.aboutUsTop {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.aboutUsTop h3 {
  font-family: "Boogaloo";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 46px;
  color: #282829;
}

.aboutUsTop p {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 10px;
  color: #282829;
  line-height: 20px;
}
.aboutUsTop .quote {
  font-style: italic;
  font-weight: bold;
  color: #282829;
}

.founder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.founder h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  color: #282829;
}

.founder p {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #282829;
}
/* GRAIG */

.flairContainer {
  margin-top: 15px;
  display: grid;
  width: 100px;
}
.graig {
  grid-column: 1;
  grid-row: 1;
  width: 60%;
  margin: 20px;
  z-index: 999;
}
.blueFlair {
  grid-column: 1;
  grid-row: 1;
  width: 50%;
  margin-top: 5px;
  transform: rotate(190deg);
  /* z-index: -1; */
}
.orangeFlair {
  grid-column: 1;
  grid-row: 1;
  width: 50%;
  margin-top: 10px;
}
.founderTextContent {
  grid-column: 2;
  grid-row: 1;
}
/* DARWIN */

.flairContainerD {
  margin-top: 15px;
  display: grid;
  width: 100px;
}
.darwin {
  grid-column: 1;
  grid-row: 1;
  width: 60%;
  margin: 20px;
}
.orangeFlairD {
  grid-column: 1;
  grid-row: 1;
  width: 50%;
  margin-top: 10px;
}
.founderTextContentD {
  grid-column: 1;
  grid-row: 1;
}
@media only screen and (min-width: 700px) {
  .aboutUsContainer {
    padding: 0;
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .aboutUsTop {
    width: 70%;
  }
  .aboutUsTop h3 {
    font-size: 48px;
    line-height: 38px;
  }

  .aboutUsTop p {
    font-size: 22px;
    line-height: 36px;
  }
  .aboutUsBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .founder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    gap: 100px;
  }
  .founder img {
    width: 100%;
  }

  .founderTextContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 300px;
  }

  .founderTextContent h3 {
    width: 70%;
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #282829;
  }

  .founderTextContent p {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #282829;
  }

  .aboutUsTop {
    height: 400px;
  }
  .orangeFlair {
    width: 40%;
    margin-top: -22px;
    margin-left: -30px;
  }
}
