.contactContainer {
  height: 50vh;
  background-color: #003b7a;
  background-image: url("../imgs/background-texture.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 50px 0px 50px;
}
.contactContainer h1 {
  font-family: "Boogaloo";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 56px;
  text-transform: uppercase;
  color: #f4f4f4;
}

.contactUsFormContainer .inputs {
  display: flex;
  justify-content: space-around;
}
.input {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background: #ffffff;
  border: 1px solid #b7b7b8;
  box-sizing: border-box;
  border-radius: 8px;
}

::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #9fa0a0;
}
.contactUsFormContainer button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  background: #e5e5e5;
  border-radius: 50px;
  width: 100%;
  position: static;
  height: 22px;
  left: calc(50% - 125px / 2);
  top: calc(50% - 22px / 2);
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #b7b7b8;
}

.field p {
  position: static;
  width: 68px;
  height: 20px;
  left: 11px;
  top: -5px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 5px;
  line-height: 20px;
  text-transform: uppercase;
  color: #f4f4f4;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 4px;
}
.textarea {
  width: 215px;
  height: 60px;
  padding: 6px 14px;
  background: #ffffff;
  border: 1px solid #b7b7b8;
  box-sizing: border-box;
  border-radius: 8px;
}

@media only screen and (min-width: 700px) {
  .contactContainer {
    padding: 35px 200px 0px 200px;
    height: 30vh;
  }
  .contactContainer h1 {
    font-size: 48px;
  }

  .contactUsFormContainer .inputs {
    display: flex;
    justify-content: space-around;
  }
  .input {
    width: 35vw;
  }
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
  }
  .contactUsFormContainer button {
    width: 50%;
  }

  .textarea {
    width: 100%;
  }
}
