.missionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.missionContentContainer {
  display: grid;
  justify-content: center;
  align-items: center;
}

.missionContentContainerDesktop {
  display: none;
}

.missionContentContainer img {
  grid-column: 1;
  grid-row: 1;
}
.one {
  width: 80vw;
}
.two {
  width: 90vw;
}
.three {
  width: 100vw;
}

.missionTextAndImg {
  grid-column: 1;
  grid-row: 1;
  padding: 0% 16%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25%;
}

.missionTextAndImg h3 {
  font-family: "Boogaloo";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #4b4c4d;
}

.missionTextAndImg p {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  text-align: center;
  color: #282829;
}

.missionDifferencesMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.differentMobile {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.differentMobile img {
  width: 15vw;
}
.differentMobile p {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  text-align: center;
  color: #282829;
}

.oldSchoolContainer {
  display: grid;
  place-items: center;
  width: 95vw;
  height: 80px;
}

.oldSchoolImage {
  grid-column: 1;
  grid-row: 1;
  display: block;
  width: 100vw;
}
.oldSchoolText {
  grid-column: 1;
  grid-row: 1;
  width: 80vw;
  margin-top: 30px;
}

.oldSchoolText h3 {
  font-family: "Boogaloo";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase;
  color: #4b4c4d;
}
.oldSchoolText p {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: #282829;
}
.oldSchoolText button {
  display: flex;
  padding: 8px;
  width: 130px;
  margin-top: 5px;
  height: 0px;
  background: #0089ed;
  border-radius: 50px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 6px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #fdfdfd;
}

@media only screen and (min-width: 700px) {
  .missionHide {
    display: none;
  }
  .missionMobile {
    display: none;
  }
  .missionContentContainerDesktopTop {
    display: grid;
  }

  .missionContentContainerDesktop {
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    height: 40vh;
    border: 1px solid green;
  }

  .missionContentContainerDesktop h3 {
    font-family: "Boogaloo";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #4b4c4d;
  }

  .missionContentContainerDesktop p {
font-family: 'Lato';
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 36px;
text-align: center;
color: #282829;
  }

  .missionTextAndImg h3{
    font-family: "Boogaloo";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #4b4c4d;
  }
  .missionDifferencesDesktop {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    border: 2px solid red;
  }

  .differentDesktop {
    position: static;
    width: 324px;
    height: 150px;
    left: -2px;
    top: 66.5px;

    /* Body/Medium */

    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    text-align: center;

    /* Grayscale/gray-8 */

    color: #282829;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
  }

  .oldSchoolContainer {
    width: 100vw;
    height: 60vh;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
  }
  .oldSchoolImage {
    grid-column: 1;
    grid-row: 1;
    display: block;
    width: 100vw;
  }
  .oldSchoolText {
    width: 60vw;
  }

  .oldSchoolText h3 {
    font-size: 48px;
  }
  .oldSchoolText p {
    font-size: 18px;
  }
  .oldSchoolText button {
    padding: 28px;
    width: 530px;
    margin-top: 50px;
    height: 0px;
    font-size: 25px;
  }
}
