.missionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.missionContentContainer {
  display: grid;
  justify-content: center;
  align-items: center;
}

.desktop {
  display: none;
}

.missionContentContainer img {
  grid-column: 1;
  grid-row: 1;
}
.one {
  width: 80vw;
}
.two {
  width: 90vw;
}
.three {
  width: 100vw;
}

.missionTextAndImg {
  grid-column: 1;
  grid-row: 1;
  padding: 0% 16%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25%;
}

.missionTextAndImg h3 {
  font-family: 'Boogaloo';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #4b4c4d;
  margin-top: -12px;
}

.missionTextAndImg p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: #282829;
}

.missionDifferencesMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.differentMobile {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.differentMobile img {
  width: 15vw;
}
.differentMobile p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: #282829;
}

.oldSchoolContainer {
  display: grid;
  place-items: center;
  width: 95vw;
  height: 80px;
}

.oldSchoolImage {
  grid-column: 1;
  grid-row: 1;
  display: block;
  width: 100vw;
}
.oldSchoolText {
  grid-column: 1;
  grid-row: 1;
  width: 80vw;
  margin-top: 30px;
}

.oldSchoolText h3 {
  font-family: 'Boogaloo';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase;
  color: #4b4c4d;
}
.oldSchoolText p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #282829;
}
.oldSchoolText button {
  display: flex;
  padding: 8px;
  width: 130px;
  margin-top: 5px;
  height: 0px;
  background: #0089ed;
  border-radius: 50px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: bold;
  font-size: 6px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #fdfdfd;
}

@media only screen and (min-width: 700px) {
  .missionHide {
    display: none;
  }
  .missionMobile {
    display: none;
  }
  .missionTextAndImg h3 {
    font-size: 36px;
  }
  #desktopText {
    margin-top: 20px;
  }
  .missionTextAndImg p {
    font-size: 22px;
  }
  .three {
    height: 40vh;
  }
  .desktop {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .missionDeskText {
    display: grid;
  }
  .missionDifferencesDesktop {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .differentDesktop {
    margin: 8% 2% 0 2%;
    width: 20%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .oldSchoolContainer {
    width: 100vw;
    height: 60vh;
    align-items: center;
    justify-content: center;
  }
  .oldSchoolImage {
    grid-column: 1;
    grid-row: 1;
    display: block;
    width: 100vw;
  }
  .oldSchoolText {
    width: 70vw;
  }

  .oldSchoolText h3 {
    font-size: 36px;
  }
  .oldSchoolText h4 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #282829;
  }
  .oldSchoolText p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
  }
  .oldSchoolText button {
    padding: 28px;
    width: 40vw;
    display: flex;
    justify-content: center;
    height: 0px;
    font-size: 16px;
  }
}
