.grid-div-mission {
  display: grid;
  place-items: center;
  width: 95vw;
  height: 80px;
}

.missionLayer1 {
  width: 80vw;
}

.missionLayer2 {
    margin-top: -50px;
  width: 100vw;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.missionLayer2 h1 {
  margin-top: 40px;
}
.missionLayer1,
.missionLayer2 {
  grid-column: 1;
  grid-row: 1;
  height: 17vh;
}

.missionBlock {
  width: 100vw;
  display: block;
  align-items: center;
  justify-content: center;
}

.missionLayer2 h1 {
  width: 70%;
  font-family: "Boogaloo";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #4b4c4d;
}

.missionLayer2 p {
  width: 80%;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  text-align: center;
  color: #282829;
}

.first {
  height: 80px;
}

.second {
  height: 80px;
  width: 90vw;
}
.third {
  height: 80px;
  width: 95vw;
}

.missionDesktop {
  display: none;
}

.oldSchoolContainer {
  display: grid;
  place-items: center;
  width: 95vw;
  height: 80px;
}

.oldSchoolImage {
    
  grid-column: 1;
  grid-row: 1;
  display: block;
  width: 100vw;
}
.oldSchoolText {
  grid-column: 1;
  grid-row: 1;
  width: 90vw;
  margin-top: 50px;
}

.oldSchoolText h1 {
  font-family: "Boogaloo";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase;
  color: #4b4c4d;
}
.oldSchoolText p {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: #282829;
}
.oldSchoolText button {
  display: flex;
  padding: 8px;
  width: 130px;
  margin-top: 5px;
  height: 0px;
  background: #0089ed;
  border-radius: 50px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 6px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #fdfdfd;
}

@media only screen and (min-width: 700px) {
  .grid-div-mission {
    height: 265px;
  }
  .first {
    width: 866px;
    height: 250px;
  }

  .second {
    width: 981.49px;
    height: 280px;
  }
  .third {
    width: 1440px;
    height: 521px;
    margin-top: 25px;
  }

  .missionLayer2 h1 {
    font-size: 48px;
  }

  .missionLayer2 p {
    font-size: 22px;
  }
  .missionMobile {
    display: none;
  }
  .missionDesktop {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    width: 80vw;
  }
  .missionDesktop p {
    position: static;
    width: 324px;
    height: 150px;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #282829;
  }

  .missionDesktop img {
    margin: 20px;
  }
  .differentOne {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .differentTwo {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .differentThree {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.oldSchoolContainer {
height: 60vh;
margin-top: 200px;
align-items: center;
justify-content: center;
}
  .oldSchoolText {
width: 60vw;
  }
  
  .oldSchoolText h1 {
    font-size: 48px;
  }
  .oldSchoolText p {
    font-size: 18px;
  }
  .oldSchoolText button {
    padding: 28px;
    width: 530px;
    margin-top: 50px;
    height: 0px;
    font-size: 25px;
  }

}
