/* default is  320px*/

.containerOne {
  background-color: #e6f9ff;
  display: flex;
  align-items: center;
  padding: 2rem;
}
.containerOne img {
  width: 5rem;
  margin: 0px 20px -35px 0px;
}
.textAndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textAndButton p {
  font-family: "Lato";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
  padding: 1rem;
}

.textAndButton button {
  margin-top: 0.5rem;
  width: 25%;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  background: #ff7f34;
  border-radius: 50px;
  border: none;
}
.textAndButton button p {
  font-family: "Mulish";
  font-size: 0.6rem;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #fdfdfd;
}

.containerTwo {
  display: flex;
  align-items: center;
  padding: 1rem 5rem 0;
  justify-content: center;
}

.containerTwo img {
  width: 7rem;
}

.gifAndText h4 {
  white-space: nowrap;
  margin: 30px 0px 10px 0px;
  text-align: left;
  font-size: 0.8rem;
  font-family: "Boogaloo";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: #4b4c4d;
}

.containerTwo p {
  text-align: left;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #282829;
}

.containerThree {
  display: grid;
  align-items: center;
}

.containerThree img {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

.textAndButton2 {
  grid-column: 1;
  grid-row: 1;
  padding: 0% 16%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 35%;
}

.textAndButton2 .desktop-only {
  display: none;
}

.textAndButton2 p {
  font-size: 14px;
  line-height: 20px;
  padding-left: 2%;
  font-family: "Lato";
}

.textAndButton2 button {
  margin-top: 0.8rem;
  height: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  background: #ff7f34;
  border-radius: 50px;
  font-family: "Mulish";
  font-size: 0.5rem;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #fdfdfd;
  border: none;
}

@media only screen and (min-width: 700px) {
  .parentContainerTop {
    max-width: 900px;
  }
  .containerOne {
    justify-content: space-evenly;
  }
  .containerOne img {
    width: 100%;
  }
  .containerOne p {
    width: 75%;
    font-size: 2rem;
  }
  .containerOne button {
    width: 400px;
    height: 60px;
  }
  .containerOne button p {
    font-size: 1rem;
  }

  .containerTwo {
    justify-content: center;
  }
  .containerTwo img {
    width: 300px;
  }
  .gifAndText p {
    width: 75%;
    font-size: 24px;
  }
  .gifAndText h4 {
    font-size: 36px;
    
  }
  .textAndButton h2 {
    font-family: "Boogaloo";
    text-align: center;
    font-size: 3rem;
  }
  .textAndButton p {
    font-size: 1rem;
  }
  .textAndButton2 {
    padding: 0% 16%;
    justify-content: space-between;
    height: 30%;
  }
  .textAndButton2 .desktop-only {
    display: inline;
  }

  .textAndButton2 p {
    font-size: 24px;
    line-height: 28px;
    padding: 2%;
  }

  .textAndButton2 button {
    width: 146px;
    height: 48px;
    font-size: 16px;
  }
}
