/* default is  320px*/
.containerOne {
  background-color: #e6f9ff;
  display: flex;
  align-items: center;
  padding: 2rem;
}
.containerOne img {
  width: 5rem;
  margin: 0px 20px -35px 0px;
}
.textAndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textAndButton p {
  font-family: "Lato";
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
  padding: 1rem;
}

.textAndButton button {
  margin-top: 0.5rem;
  width: 25%;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  background: #ff7f34;
  border-radius: 50px;
  border: none;
}
.textAndButton button p {
  font-family: "Mulish";
  font-size: 0.6rem;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #fdfdfd;
}

.containerTwo {
  display: flex;
  align-items: center;
  padding: 0px 40px 15px 20px;
}

.containerTwo img {
  width: 7rem;
}

.gifAndText h4 {
  margin: 30px 0px 10px 0px;
  text-align: left;
  font-size: 0.8rem;
}

.containerTwo p {
  text-align: left;
  font-size: 0.7rem;
}

.containerThree {
  height: 150px;
  background-image: url("../imgs/background-screentime.png");
  background-size: 100vw;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.textAndButton2 {
  margin-top: 20px;
  width: 67vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textAndButton2 p {
  width: inherit;
  font-size: 0.4rem;
  /* padding: 10px; */
}

.textAndButton2 button {
  margin-top: 0.5rem;
  height: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  background: #ff7f34;
  border-radius: 50px;
  font-family: "Mulish";
  font-size: 0.5rem;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #fdfdfd;
  border: none;
}


@media only screen and (min-width: 700px) {
  .containerOne {
    justify-content: space-evenly;
  }
  .containerOne img {
    width: 100%;
  }
  .containerOne p {
    width: 50vw;
    font-size: 2rem;
  }
  .containerOne button {
    width: 400px;
    height: 60px;
  }
  .containerOne button p {
    font-size: 1rem;
  }

  .containerTwo {
    justify-content: center;
  }
  .containerTwo img {
    width: 300px;
  }
  .gifAndText p {
    width: 50vw;
    font-size: 1rem;
  }
  .gifAndText h4 {
    font-size: 1rem;
  }
  .containerThree {
    height: 700px;
    
    justify-content: center;
  }
  
  .textAndButton2 {
    margin-top: -50px;
    height: 200px;
    justify-content: space-between;
  }
  
  .textAndButton2 p {
    font-size: 1.3rem;
  }
  
  .textAndButton2 button {


    width: 146px;
    height: 48px;
    background: #FF7F34;
    border-radius: 50px;
    font-size: 16px;
  }
  
}

